<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Shop</title>
    <link rel="stylesheet" href="css/main.css">
   
</head>

<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-list">
                <li class="main-header_item"> <a href="/"> (~74)  Shop </a> </li>
                <li class="main-header_item"> <a href="/admin/add-product"> Add product </a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1> My Product </h1>
        <p> List of all products...</p>
    </main>

</body>

</html>

<!-- 072 Nodejs Video -->